
head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')

    meta(name='author', content='')

    title Admin
    // Bootstrap Core CSS
    link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='../node_modules/jgrowl/jquery.jgrowl.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
    // Timeline CSS
    link(href='../dist/css/timeline.css', rel='stylesheet')
    // Custom CSS
    link(href='../dist/css/fileinput.min.css', rel='stylesheet')

    link(href='../dist/css/sb-admin-2.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='../bower_components/morrisjs/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    link(href='../dist/css/custom.css', rel='stylesheet')

    // jQuery
    script(src='../bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(src='../node_modules/jgrowl/jquery.jgrowl.min.js')

    script(type='text/javascript', src='../bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
