// Navigation
nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='index.html') Admin panel
    // /.navbar-header
    ul.nav.navbar-top-links.navbar-right
        li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-user.fa-fw
                i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-user
                li
                    a(href='#')
                        i.fa.fa-user.fa-fw
                        |  User Profile
                li
                    a(href='#')
                        i.fa.fa-gear.fa-fw
                        |  Settings
                li.divider
                li
                    a(href='login.html')
                        i.fa.fa-sign-out.fa-fw
                        |  Logout
            // /.dropdown-user
        // /.dropdown
    // /.navbar-top-links
    .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
            ul#side-menu.nav
                li.sidebar-search
                    .input-group.custom-search-form
                        input.form-control(type='text', placeholder='Search...')
                        span.input-group-btn
                            button.btn.btn-default(type='button')
                                i.fa.fa-search
                    // /input-group
                li
                    a(href='index.html')
                        i.fa.fa-dashboard.fa-fw
                        |  Dashboard
                li
                    a(href='users.html')
                        i.fa.fa-users
                        |  Users
                li
                    a(href='events.html')
                        i.fa.fa-list
                        |  Events
                li
                    a(href='sitemap.html')
                        i.fa.fa-location-arrow
                        |  Site Map
                li
                    a(href='analitics.html')
                        i.fa.fa-line-chart
                        |  Google Analitics
                li
                    a(href='#')
                        i.fa.fa-bar-chart-o.fa-fw
                        |  Charts
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='flot.html') Flot Charts
                        li
                            a(href='morris.html') Morris.js Charts
                    // /.nav-second-level
                li
                    a(href='tables.html')
                        i.fa.fa-table.fa-fw
                        |  Tables
                li
                    a(href='forms.html')
                        i.fa.fa-edit.fa-fw
                        |  Forms
                li
                    a(href='#')
                        i.fa.fa-wrench.fa-fw
                        |  UI Elements
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='panels-wells.html') Panels and Wells
                        li
                            a(href='buttons.html') Buttons
                        li
                            a(href='notifications.html') Notifications
                        li
                            a(href='typography.html') Typography
                        li
                            a(href='icons.html')  Icons
                        li
                            a(href='grid.html') Grid
                    // /.nav-second-level
                li
                    a(href='#')
                        i.fa.fa-sitemap.fa-fw
                        |  Multi-Level Dropdown
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='#') Second Level Item
                        li
                            a(href='#') Second Level Item
                        li
                            a(href='#')
                                | Third Level
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a(href='#') Third Level Item
                                li
                                    a(href='#') Third Level Item
                                li
                                    a(href='#') Third Level Item
                                li
                                    a(href='#') Third Level Item
                            // /.nav-third-level
                    // /.nav-second-level
                li
                    a(href='#')
                        i.fa.fa-files-o.fa-fw
                        |  Sample Pages
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='blank.html') Blank Page
                        li
                            a(href='login.html') Login Page
                    // /.nav-second-level
        // /.sidebar-collapse
    // /.navbar-static-side
