doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Event
                // /.col-lg-12
            // /.row
            .row
                form(role='form' enctype="multipart/form-data" onsubmit="putEventSubmit(); return false;")#event-form
                    input(type='hidden' name='id')
                    .col-md-8
                        .form-group
                            label Date
                            .datetimepicker.input-group.date
                                input.form-control(type='text' name='date')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label Date End
                            .datetimepicker.input-group.date
                                input.form-control(type='text' name='date_end')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label Post date
                            .datetimepicker.input-group.date
                                input.form-control(type='text' name='post_date')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label Name
                            input.form-control(type='text' name='name')
                        .form-group
                            label Description
                            textarea.form-control(rows='3' name='description')
                        .form-group
                            label Line up
                            input.form-control(type='text' name='line_up')
                        .col-md-6
                            .form-group
                                label Country
                                input.form-control(type='text' name='country')
                            .form-group
                                label Chekin radius
                                input.form-control(type='text' name='checkin')
                        .col-md-6
                            .form-group
                                label City
                                input.form-control(type='text' name='city')
                            .form-group
                                label Venue
                                input.form-control(type='text' name='venue')
                        .col-md-12
                            .form-group
                                label Info
                                textarea.form-control(name='info' rows='3')
                    .col-md-4
                        .form-group
                            #kv-avatar-errors.center-block(style='width:100%;display:none')
                            .kv-avatar.center-block(style='width:100%')
                                input#avatar.file-loading(name='avatar', type='file')
                        .form-group
                            .checkbox
                                label
                                    input(value='1' type='checkbox' name='active')
                                    | Active
                        button.btn.btn-success(type='submit') Submit Event
            // /.row
        // /#page-wrapper
        // /#wrapper
        script(src='../dist/js/fileinput.min.js')
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference

        script(src='../js/api/add_event.js')