doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

    #page-wrapper
        .row
            .col-lg-12.page-header
                h1 Google Analitics
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros in lacus scelerisque accumsan eget eu orci. Pellentesque eu dapibus lacus. Curabitur accumsan rutrum dolor, sit amet tristique ante molestie sit amet. Nulla lectus dui, mattis sit amet varius quis, gravida vel nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc elementum varius nisl, sed venenatis ex suscipit suscipit. Vivamus vel lorem at eros fermentum facilisis in eu leo. Sed consequat ligula sed ante ultrices, sed vulputate quam pellentesque. Donec suscipit lacus dui, eu ultrices diam ullamcorper id.
            // /.col-lg-12
        // /.row
        .row
            .col-xs-12
                #embed-api-auth-container
                #view-selector-container
                #main-chart-container
                #breakdown-chart-container
        // /.row
    // /#page-wrapper
    // /#wrapper

    script(src='../dist/js/pdfobject.js')

    // Metis Menu Plugin JavaScript
    script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
    // DataTables JavaScript
    script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
    script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
    // Custom Theme JavaScript
    script(src='../dist/js/sb-admin-2.js')
    // Page-Level Demo Scripts - Tables - Use for reference
    script.
        (function (w, d, s, g, js, fs) {
            g = w.gapi || (w.gapi = {});
            g.analytics = {
                q: [], ready: function (f) {
                    this.q.push(f);
                }
            };
            js = d.createElement(s);
            fs = d.getElementsByTagName(s)[0];
            js.src = 'https://apis.google.com/js/platform.js';
            fs.parentNode.insertBefore(js, fs);
            js.onload = function () {
                g.load('analytics');
            };
        }(window, document, 'script'));
    script.
        gapi.analytics.ready(function () {
            /**
             * Authorize the user immediately if the user has already granted access.
             * If no access has been created, render an authorize button inside the
             * element with the ID "embed-api-auth-container".
             */
            gapi.analytics.auth.authorize({
                container: 'embed-api-auth-container',
                clientid: '275457520374-sovn39njdss3s16n05k33jraujladedv.apps.googleusercontent.com'
            });
            /**
             * Create a new ViewSelector instance to be rendered inside of an
             * element with the id "view-selector-container".
             */
            var viewSelector = new gapi.analytics.ViewSelector({
                container: 'view-selector-container'
            });
            // Render the view selector to the page.
            viewSelector.execute();
            /**
             * Create a table chart showing top browsers for users to interact with.
             * Clicking on a row in the table will update a second timeline chart with
             * data from the selected browser.
             */
            var mainChart = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'dimensions': 'ga:browser',
                    'metrics': 'ga:sessions',
                    'sort': '-ga:sessions',
                    'max-results': '6'
                },
                chart: {
                    type: 'TABLE',
                    container: 'main-chart-container',
                    options: {
                        width: '100%'
                    }
                }
            });
            /**
             * Create a timeline chart showing sessions over time for the browser the
             * user selected in the main chart.
             */
            var breakdownChart = new gapi.analytics.googleCharts.DataChart({
                query: {
                    'dimensions': 'ga:date',
                    'metrics': 'ga:sessions',
                    'start-date': '7daysAgo',
                    'end-date': 'today'
                },
                chart: {
                    type: 'LINE',
                    container: 'breakdown-chart-container',
                    options: {
                        width: '100%'
                    }
                }
            });
            /**
             * Store a refernce to the row click listener variable so it can be
             * removed later to prevent leaking memory when the chart instance is
             * replaced.
             */
            var mainChartRowClickListener;
            /**
             * Update both charts whenever the selected view changes.
             */
            viewSelector.on('change', function (ids) {
                var options = {query: {ids: ids}};
                // Clean up any event listeners registered on the main chart before
                // rendering a new one.
                if (mainChartRowClickListener) {
                    google.visualization.events.removeListener(mainChartRowClickListener);
                }
                mainChart.set(options).execute();
                breakdownChart.set(options);
                // Only render the breakdown chart if a browser filter has been set.
                if (breakdownChart.get().query.filters) breakdownChart.execute();
            });
            /**
             * Each time the main chart is rendered, add an event listener to it so
             * that when the user clicks on a row, the line chart is updated with
             * the data from the browser in the clicked row.
             */
            mainChart.on('success', function (response) {
                var chart = response.chart;
                var dataTable = response.dataTable;
                // Store a reference to this listener so it can be cleaned up later.
                mainChartRowClickListener = google.visualization.events
                        .addListener(chart, 'select', function (event) {
                            // When you unselect a row, the "select" event still fires
                            // but the selection is empty. Ignore that case.
                            if (!chart.getSelection().length) return;
                            var row = chart.getSelection()[0].row;
                            var browser = dataTable.getValue(row, 0);
                            var options = {
                                query: {
                                    filters: 'ga:browser==' + browser
                                },
                                chart: {
                                    options: {
                                        title: browser
                                    }
                                }
                            };
                            breakdownChart.set(options).execute();
                        });
            });
        });