doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Events
                    a.btn.btn-info(href='add_event.html') Add Event
                // /.col-lg-12
            // /.row
            .row
                .col-xs-12
                    .dataTable_wrapper
                        table#events-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th Date
                                    th Name
                                    th Status
                                    th Venue
                                    th Photo
                                    th Actions
                            tbody

                    // /.table-responsive
            // /.row
        // /#page-wrapper
        // /#wrapper
        script(src='../dist/js/fileinput.min.js')
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference
        script.
            $(document).ready(function() {
                var btnCust = '<div class="form-group"><div class="checkbox"><label>'+
                        '<input type="checkbox" value="">Overwrite files</label></div></div>';
                $("#avatar").fileinput({
                    overwriteInitial: true,
                    maxFileSize: 1500,
                    showClose: false,
                    showCaption: false,
                    browseLabel: '',
                    removeLabel: '',
                    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
                    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                    removeTitle: 'Cancel or reset changes',
                    elErrorContainer: '#kv-avatar-errors',
                    msgErrorClass: 'alert alert-block alert-danger',
                    defaultPreviewContent: '<img src="/img/default-male.png" alt="Your Avatar" style="width:160px">',
                    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
                    allowedFileExtensions: ["jpg", "png", "gif"]
                });
            });

        script(src='../js/api/events.js')