doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title Log in
        // Bootstrap Core CSS
        link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='../dist/css/login.css', rel='stylesheet')
    body
        .login
            img(src='../img/ss.png')
            br
            br
            form
                input(type='text', placeholder='USERNAME')
                br
                br
                input(type='password', placeholder='PASSWORD')
        // jQuery
        script(src='../bower_components/jquery/dist/jquery.min.js')
