doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Site Map
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros in lacus scelerisque accumsan eget eu orci. Pellentesque eu dapibus lacus. Curabitur accumsan rutrum dolor, sit amet tristique ante molestie sit amet. Nulla lectus dui, mattis sit amet varius quis, gravida vel nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc elementum varius nisl, sed venenatis ex suscipit suscipit. Vivamus vel lorem at eros fermentum facilisis in eu leo. Sed consequat ligula sed ante ultrices, sed vulputate quam pellentesque. Donec suscipit lacus dui, eu ultrices diam ullamcorper id.
                // /.col-lg-12
            // /.row
            .row
                form(role='form')
                    .col-md-3
                        .form-group
                            input#pdf(name='pdf', type='file')
                    .col-md-3
                        .form-group
                            button.btn.btn-success(type='submit') Upload
            .row
                .col-xs-12
                    #pdf-embed(style='height: 800px;')
            // /.row
        // /#page-wrapper
        // /#wrapper
        script(src='../dist/js/pdfobject.js')
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference
        script.
            $(document).ready(function () {
                var pdf = new PDFObject({
                    url: "../img/Admin Panel notes.pdf",
                    id: "pdf-embed",
                    pdfOpenParams: {
                        view: "FitH"
                    }
                }).embed("pdf-embed");
            });