doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Users list
                    p December 2015 activity
                // /.col-lg-12
            // /.row
            .row
                .col-xs-12
                    .dataTable_wrapper
                        table#users-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th Username
                                    th Email
                                    th Gender
                                    th City
                                    th Age
                                    th First Name
                                    th Last Name
                                    th Photo
                                    th Active
                                    th Actions
                                    th Verified
                            tbody

                    // /.table-responsive
            // /.row
        // /#page-wrapper
        // Modal
        #updateUser.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title
                            | Update User
                    .modal-body
                        form(enctype="multipart/form-data" role='form' id='form-update-user' onsubmit='putUserSubmit(); return false' style='overflow: hidden;').form-horizontal
                            input(type='hidden' name='id')
                            .form-group
                                label.control-label.col-sm-2 Username
                                .col-sm-9
                                    input.form-control(type='text' name='username')
                            .form-group
                                label.control-label.col-sm-2 Email
                                .col-sm-9
                                    input.form-control(type='email' name='email')
                            .form-group
                                label.control-label.col-sm-2 Gender
                                .col-sm-2
                                    select.form-control(name='gender')
                                        option M
                                        option F
                            .form-group
                                label.control-label.col-sm-2 City
                                .col-sm-9
                                    input.form-control(type='text' name='city')
                            .form-group
                                label.control-label.col-sm-2 Age
                                .col-sm-9
                                    input.form-control(type='number' value='18' name='age')
                            .form-group
                                label.control-label.col-sm-2 First name
                                .col-sm-9
                                    input.form-control(type='text' name='first_name')
                            .form-group
                                label.control-label.col-sm-2 Last name
                                .col-sm-9
                                    input.form-control(type='text' name='last_name')
                            .form-group
                                label.control-label.col-sm-2 Photo
                                .col-sm-9
                                    #kv-avatar-errors.center-block(style='width:100%;display:none')
                                    .kv-avatar.center-block(style='width:100%')
                                        input#avatar.file-loading(name='photo', type='file')
                            .form-group
                                .col-sm-9.col-sm-offset-2
                                    .checkbox
                                        label
                                            input(value='1' type='checkbox' name='active')
                                            | Active
                            .form-group
                                .col-md-3.col-md-offset-2
                                    input(type='submit' value='Save').btn.btn-success

                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
        // /#wrapper
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference
        script(src='../js/api/users.js')
        script(src='../dist/js/fileinput.min.js')
